name: Build DLL

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Restore
        run: dotnet restore "Source/QualityFurnitureMatters.csproj"

      - name: Build (Release)
        run: dotnet build "Source/QualityFurnitureMatters.csproj" -c Release --no-restore

      - name: Show built files
        run: dir Assemblies

      - name: Upload Assemblies artifact
        uses: actions/upload-artifact@v4
        with:
          name: QualityFurnitureMatters-Assemblies
          path: Assemblies/**
